.navbar{
    display: flex;
    margin-top: 2%;
    border: 1px solid red;
}

.logo > img {
    width: 55%;
    margin-left: 19%;
}
.rightside {
    width: 85%;
    margin-left: 9%;
    display: flex;
    align-items: center;
}
.rightside > div:nth-child(1) {
    width: 50%;
    height: 10;
}
.rightside > div:nth-child(1) > .searchinput {
    width: 100%;
    border: none;
    outline: none;
}
.notification , .profileimg{
    margin-left: 7%;
}
.profileimg > img {
    height: 40%;
    width: 60%;
}
.rightside > div:nth-child(2) {
    margin-left: 8%;
    width: 15%;
}
.rightside > div > button{
    display: flex;
    cursor: pointer;
    background: #FF8252;
    border-radius: 10px;
    color: white;
    border: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
}
.rightside > div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.rightside > div > button > span {
    margin-left: 9%;
}
