.signin {
    display: flex;
    width: 100%;
    height: 100vh;
}
.leftside {
    width: 50%;
    height: 100%;
    background-image: url(../assets/images/bgsignin.png);
}
.leftside > div {
    margin-left: 61px;
    color: #FFFFFF;
}
.logo {
    margin-top: 22%;
}
.logo > img {
    width: 20%;
}
.quote {
    margin-top: 8%;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 170%;
}
.description {
    margin-top: 8%;
    width: 45%;
}
.description > p {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    color: rgba(255, 255, 255, 0.8);
}
.description > button {
    width: 12%;
    cursor: pointer;
    height: 4px;
    border: none;
    border-radius: 11px;
    margin-right: 12px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px;;
}
.description > button:active {
    background: #FFFFFF;
}
/* signin form ------------------------------> */
.rightside {
    width: 50%;
}
.logoright {
    display: flex;
    justify-content: center;
    width: 100%;  
    margin-top: 11%; 
}
.logoright > img {
    width: 17%;
}
.formcontainer {
    width: 408px;
    height: 687px;
    margin-left: 26%;
    margin-top: 38px;
    background: #FFFFFF;
    box-shadow: 0px 8px 79px rgba(70, 64, 64, 0.05);
    border-radius: 25px;
}
.title  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title  > .welcome {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FF8252;
}
.letslogin {
    margin-bottom: 43px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #252729;
}
.signin_up {
    overflow: hidden;
    width: 75%;
    border-radius: 30px;
    padding: 5px 7px;
    background: rgba(255, 133, 83, 0.1);
    box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
}
.signin_up > button{
    position: relative;
    float: left;
    background-color: rgba(255, 133, 83, 0.1);;
    cursor: pointer;
    color: #FF8252;
    border-radius: 30px;
    padding: 12px 14px;
    transition: 0.3s;
    font-size: 17px;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 29px;
    z-index: 1;
    width: 50%;
}
.signin_up > button:nth-child(1){
    background: #FF8252;
    border-radius: 30px;
    color: white;
}
.signin_up > button:active {
    z-index: 2;
    color:#ffffff ;
    background: #FF8252;
}

.formcontainer > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formcontainer > form > label {
    width: 80%;
    margin-left: 4%;
    margin-top: 2%;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #252729;
}
.formcontainer > form > label >input {
    width: 83%;
    background: rgba(184, 185, 187, 0.1);
    border-radius: 29.5px;
    padding: 20px 18px;
    margin-top: 2%;
    border: none;
    margin-left: 3%;
}
.formcontainer > form > label >input:focus {
    outline: none !important;
    border: 1px solid #FF8252 ;
}
.formcontainer > form > label > button {
    width: 93%;
    margin-left: 3.5%;
    border-radius: 29.5px;
    padding: 20px 18px;
    border: none;
    cursor: pointer;
    margin-top: 4%;
    background-color: #FF8252 ;
    color: white;
}
.orusing {
    width: 100%;
    display: flex;
    margin-left: 4%;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #B8B9BB;
    margin-top: 6%;
}
.orusing > div {
    width: 23%;
}
.orusing > div:nth-child(2){
    margin-left: 1.5%;
}
.orusing > div:nth-child(3){
    margin-left: 1.5%;
}

.google {
    display: flex;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 12px 10px 100px rgba(100, 87, 87, 0.25);
    border-radius: 28.5px;
    border: none;
    padding: 12px 38px;
    cursor: pointer;
    margin-top: 5%;
    margin-left: 7%;
    padding-left: 24px;
}
.google > div:nth-child(2) {
    margin-top: 10%;
}
.google > div:nth-child(1) {
    width: 60%;
}
.google > div:nth-child(1) > img {
    width: 60%;
}